{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Profile</h1>
                <h3>Notifications settings for the group activities</h3>
            </div>
            <div>
                <form action="{{ path('profile_notifications_settings') }}" method="post">
                    <table class="table table-hover">
                        <caption>Please select which types of notifications you wish to receive for which group activity below:</caption>
                        <thead>
                            <tr>
                                <th>Group activity</th>
                                <th>Email</th>
                                <th>SMS</th>
                                <th>None</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for group_activity in group_activities_subscriptions %}
                                <tr>
                                    <td>{{ group_activity.activityName }}</td>
                                    <td><input type="radio" name="{{ group_activity.id }}" value="email" {{ (group_activity.method == 'email') ? 'checked' : '' }}/></td>
                                    <td><input type="radio" name="{{ group_activity.id }}" value="sms" {{ (group_activity.method == 'sms') ? 'checked' : '' }}/></td>
                                    <td><input type="radio" name="{{ group_activity.id }}" value="0" {{ (not group_activity.method) ? 'checked' : '' }}/></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <input type="submit" value="Save settings" class="btn btn-primary" role="button">
                </form>
            </div>
        </div>
    </div>
{% endblock %}

