{% extends 'base.html.twig' %}

{% block body %}

    {% include ':default:profile_nav.html.twig' with {'pill': 'profile', 'header_text': 'Profile info and change password'} %}

    <div class="col-md-4">
        <table class="table table-striped">
            <tbody>
            <tr>
                <th>Email</th>
                <td>{{ customer.email }}</td>
            </tr>
            <tr>
                <th>Last_name</th>
                <td>{{ customer.lastname }}</td>
            </tr>
            <tr>
                <th>First_name</th>
                <td>{{ customer.firstname }}</td>
            </tr>
            <tr>
                <th>Patronym</th>
                <td>{{ customer.patronym }}</td>
            </tr>
            <tr>
                <th>Birth date</th>
                <td>{% if customer.birthDate %}{{ customer.birthDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ customer.gender }}</td>
            </tr>
            <tr>
                <th>Phone number</th>
                <td>{{ customer.phoneNumber }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Change password</h3>
            </div>
            <div class="panel-body">
                {{ form_start(customer_password_form) }}
                {{ form_widget(customer_password_form) }}
                <input type="submit" value="Set password" class="btn btn-primary" role="button"/>
                {{ form_end(customer_password_form) }}
            </div>
        </div>
    </div>

{% endblock %}
