<div class="page-header">
    <ul class="nav nav-pills">
        <li role="presentation" class={{ (pill == 'notifications') ? "active" : "" }}><a href="{{ path('profile_notifications_settings') }}">Notifications settings</a></li>
        <li role="presentation" class={{ (pill == 'profile') ? "active" : "" }}><a href="{{ path('profile_info') }}">Profile info</a></li>
    </ul>
    <h3>{{ header_text }}</h3>
</div>